Package: com.nito.bluetooth-control
Name: Bluetooth Control 
Depends: mobilesubstrate, com.nito.tvcontrolcenter (>=1.1), firmware (>= 13.0), com.nito.tvsettings-link
Version: 1.0
Architecture: appletvos-arm64
Description: Access Bluetooth pairing view through a control center widget!
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
Depiction: https://nitosoft.com/ATV4/btcc/btcc.json
Icon: https://nitosoft.com/ATV4/btcc/icon.png